{% extends '_base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="index-landing">
			<div class="message-container animated zoomIn">
				NOW SUPPORTS V1.7.10
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 news">
					Latest News
				</div>
			</div>

			<div class="row">
				<article class="col-sm-12">
					<section class="post">
						<h2 class="heading">This is a first post</h2>
						<h4 class="subheading">Posted On: 30/12/2016</h4>
						<img class="img-thumbnail" src="http://placehold.it/120/80">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						<a href="">consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</section>
				</article>
			</div>
		</div>
	</div>
{% endblock %}