{% extends '_base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="index-landing">
			<div class="message-container animated zoomIn">
				NOW SUPPORTS V1.7.10
			</div>
		</div>
	</div>
{% endblock %}