<nav class="navbar navbar-inverse">
	 <div class="col-xs-3 full-height hidden-xs">
	 		<h1><a href="/">CrackSkins</a></h1>
	 		<h4>Alternative Skin Server</h4>
	 </div>
	 <div class="col-sm-9  col-xs-12 full-height">
	 	<ul class="navbar-items">
	 		<li><a href="/signup">Login</a>
	        <li><a href="#">Instructions</a></li>
	        <li><a href="#">Download</a></li>
       </ul>
	 </div>
</nav>